/* Some CSS Setup - nothing to do with flexbox */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-image: radial-gradient(
    farthest-corner at 50% 90%,
    black,
    #404040,
    black
  );
  background-attachment: fixed;
  background-position: center bottom;
}

a {
  color: palegreen;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

input,
select {
  padding: 10px;
  border: 0;
  margin: 0px 5px;
}
select:hover {
  cursor: pointer;
}
option {
  font-size: 1.5rem;
}

section,
footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

.week-selector {
  width: 300px;
}

.scoreboard {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.scoreboard--item {
  flex: 1 1 50px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.scoreboard--item--team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  padding: 9px;
  display: flex;
  justify-content: space-between;
}
.scoreboard--item--team:hover {
  cursor: pointer;
}
.scoreboard--item--team .teamname {
  font-weight: bold;
}
.scoreboard--item--team .score {
  text-align: right;
}

.game ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  text-align: left;
}

.team {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.team > * {
  flex: 1 1 100%;
}
.team:last-child > * {
  align-self: flex-end;
}
.team--name {
  font-size: 2rem;
  transform: skewY(183deg);
}
.team:last-child .team--name {
  transform: skewY(-183deg);
}
.team--logo {
  min-width: 100%;
  min-height: 200px;
  border: 1px solid white;
}
/* Flex Container */

@media all and (max-width: 455px) {
  form {
    flex-direction: column;
  }
}
